.wprt-icon-text {
    text-align: center;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}

.wprt-icon-text .icon {
    padding: 6px;
    /*padding: 33px 0;*/
    /*background-color: #f7f7f7;*/
}

.wprt-icon-text h3 {
    font-size: 20px;
    line-height: 40px;
    margin: 0;
}

.wprt-icon-text h3 a {
    color: #311c10;
}

.wprt-icon-text:hover .icon{
  /*background-color: #c64c00;*/
}

.wprt-icon-text:hover h3 a {
    color: #c64c00;
}
